[submodule "PortablePesukarhu"]
        path = PortablePesukarhu
        url = git@github.com:Mopp123/PortablePesukarhu.git
[submodule "emsdk"]
	path = emsdk
	url = git@github.com:emscripten-core/emsdk.git
[submodule "Proj8315Common"]
	path = Proj8315Common
	url = git@github.com:Mopp123/Proj8315Common.git
