.cache
*.swp
compile_commands.json

build/

assets/*.ttf
assets/*.gltf
assets/*.glb
assets/*.blend
assets/*.blend1
assets/*.ttf
assets/*.png
assets/*.jpg
assets/*.jpeg
assets/*.bmp
assets/textures/*
assets/models/*
assets/fonts/*

site/*.wasm
site/*.data
site/*.html
site/*.js
