.cache
*.swp
compile_commands.json

build/CMakeFiles
build/*.wasm
build/*.txt
build/Makefile
build/*.data
build/*.html
build/*.js
build/*.cmake
build/*.json

assets/*.json
assets/*.ttf
assets/*.gltf
assets/*.glb
assets/*.blend
assets/*.blend1
assets/*.ttf
assets/*.png
assets/*.jpg
assets/*.jpeg
assets/*.bmp
assets/textures/*
assets/models/*
assets/fonts/*

site/*.wasm
site/*.data
site/*.html
site/*.js
